@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline text-sm font-semibold text-white px-[1.5em] py-[0.6em] transition-colors duration-300 rounded-lg shadow-lg bg-primary-400 hover:bg-primary-500 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-primary-400 focus:ring-opacity-70 dark:ring-offset-gray-900 dark:bg-primary-500 dark:hover:bg-primary-400;
  }

  .btn-red {
    @apply bg-red-400 hover:bg-red-500 focus:ring-red-400 dark:bg-red-500 dark:hover:bg-red-400;
  }

  .btn-gray {
    @apply bg-gray-400 hover:bg-gray-500 focus:ring-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700;
  }

  /* Form Input */
  .input {
    @apply px-3 py-2 mt-2 rounded bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-primary-400 dark:focus:ring-primary-500 focus:border-transparent;
  }

  .error {
    @apply outline-none ring-2 !ring-red-400 !border-transparent;
  }

  .input-checkbox {
    @apply appearance-none h-6 w-6 border rounded border-gray-300 dark:border-gray-700;
  }

  .input-checkbox:checked {
    @apply border-transparent dark:border-transparent bg-no-repeat bg-center bg-primary-400 dark:bg-primary-500;

    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  }

  .transition-opacity-transform {
    transition-property: opacity, transform;
  }

  /* alert notification fix */
  @media (min-width: 1024px) {
    .alert-lg-fix {
      margin-right: calc((100% - 976px) / 2);
    }
  }
  @media (min-width: 1280px) {
    .alert-lg-fix {
      margin-right: calc((100% - 1024px) / 2);
    }
  }
}

html {
  scroll-behavior: smooth;
}
